{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'cart.css' %}">
<div class="container">
    <h1>Корзина</h1>

    {% if cart_products %}
        <table class="table">
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Цена за единицу</th>
                    <th>Количество</th>
                    <th>Итого</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_products %}
                
                <tr>
                    <td>
                        {% if item.product.image %}
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="50">
                            {{ item.product.name}}
                        {% else %}
                            <span>Нет изображения</span> 
                            {{ item.product.name}}
                        {% endif %}
                    </td>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.total_price }}</td>
                    <td>
                        <a href="{% url 'remove_from_cart' id=item.id %}" class="btn btn-danger btn-sm">Удалить</a>
                        <a href="{% url 'buy_product' item.product.id %}" class="btn btn-primary mt-auto">Купить</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right"><strong>Итого:</strong></td>
                    <td><strong>{{ total }}</strong></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p>Ваша корзина пуста.</p>
    {% endif %}
</div>
{% endblock %}