{% extends 'base.html' %}
{% load static %}
{% block title %}Товары из категории {{ category.name }}{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'category_products.css' %}">
  <div class="container">
    <h1>Товары из категории "{{ category.name }}"</h1>

    {# Фильтры #}
    <div class="filter-form">
      <h2>Фильтры</h2>
      <form method="get" action="{% url 'category_products' id=category.id %}">
        <label for="min_price">Минимальная цена:</label>
        <input type="number" id="min_price" name="min_price" value="{% if min_price %}{{ min_price }}{% endif %}">

        <label for="max_price">Максимальная цена:</label>
        <input type="number" id="max_price" name="max_price" value="{% if max_price %}{{ max_price }}{% endif %}">
        
        <label for="city">Город:</label>
        <select id="city" name="city">
            <option value="">Все города</option>
            {% for city in cities %}
                <option value="{{ city.value }}" {% if city.value == request.GET.city %}selected{% endif %}>{{ city.display }}</option>
            {% endfor %}
        </select>
    
        <button type="submit">Фильтровать</button>
    </form>

      {# Сообщение об ошибке #}
      {% if error %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
      {% endif %}
    </div>

    {# Сетка товаров #}
    <div class="row">
      {% for product in products %}
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            {% if product.image %}
              <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            {% endif %}
            <div class="card-body d-flex flex-column">
              <h3 class="card-title">{{ product.name }}</h3>
              <p class="card-text">Город: {{ product.get_city_display }}</p>
            </div>
            <div class="card-footer">
              <a href="{% url 'product_announcement' id=product.id %}" class ="btn btn-danger">Подробнее</a>
              {# Кнопка "Удалить товар (Admin)" #}
              {% if user.is_authenticated and user.is_staff %}
                <a href="{% url 'delete_product' id=product.id %}" class="btn btn-danger">Удалить товар (Admin)</a>
              {% endif %}
              {# Кнопка "Удалить товар из обьявлений (для продавца)" #}
              {% if request.user == product.user %}
                <a href="{% url 'delete_product' id=product.id %}" class="btn btn-danger">Удалить товар из обьявлений</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% empty %}
        <p class="no-products">В этой категории пока нет товаров.</p>
      {% endfor %}
    </div>
  </div>

  {# Кнопка добавления вне цикла #}
  {% if user.is_authenticated %}
  <div id="add-ad-button">
    <a href="{% url 'add_product' id=category.id %}" class="btn btn-success">Добавить объявление</a>
  </div>
  {% endif %}
{% endblock %}
