{% extends 'base.html' %}

{% block title %}Главная страница - Ваш магазин{% endblock %}

{% block content %}
    <div class="container">
        <h1>Категории товаров</h1>

        <form action="{% url 'search_results' %}" method="get" class="mb-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Поиск товаров..." name="q" value="{{ query }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Поиск</button>
                </div>
            </div>
        </form>

        <div class="row">
            {% for category in categories %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-img-wrapper">  {# Обертка для изображения #}
                            {% if category.image %}
                                <img src="{{ category.image.url }}" class="card-img-top" alt="{{ category.name }}">
                            {% else %}
                                None
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <a href="{% url 'category_products' id=category.id %}" class="card-title">{{ category.name }}</a>
                            <p class="card-text">{{ category.description|truncatewords:20 }}</p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>Нет доступных категорий.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}