{% extends 'base.html' %}
{% load static %}
{% block title %}Мои обьявления{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'my_announcements.css' %}">
    {% for announcement in announcements %}
        <ul>
            <img src="{{ announcement.image.url }}" class="card-img-top" alt="{{ announcement.name }}">
            <li>Товар - {{announcement.name}}</li>
            <li>Цена - {{announcement.price}}</li>
        </ul>
        <a href="{% url 'product_announcement' id=announcement.id %}" class ="btn btn-danger">Подробнее</a>
    {% endfor %}

{% endblock %}