/* Стили для блока заказов */
.orders-container h1, .orders-container h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.orders-container ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    width: 80%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.orders-container ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.orders-container ul li:last-child {
    border-bottom: none;
}

.orders-container a.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #d9534f;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

.orders-container a.btn:hover {
    background-color: #c9302c;
}

.orders-container a.btn-danger {
    background-color: #d9534f;
}

.orders-container a.btn-danger:hover {
    background-color: #c9302c;
}
